In [1]:
import numpy as np 
import pandas as pd 
import math

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objs as go
from plotly.subplots import make_subplots

### sample_submission :  a sample submission file in the correct format 
#### prediction : 예측값

In [23]:
sample= pd.read_csv('sample_submission.csv')
sample.head(5)

# prediction : 최종 제출시 prediction 값 입력

                                         customer_ID  prediction
0  00000469ba478561f23a92a868bd366de6f6527a684c9a...           0
1  00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...           0
2  0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...           0
3  00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...           0
4  00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...           0

In [31]:
sample.info()

# customer_ID : 고객 아이디

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 924621 entries, 0 to 924620
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_ID  924621 non-null  object
 1   prediction   924621 non-null  int64
dtypes: int64(1), object(1)
memory usage: 14.1+ MB

In [32]:
print(sample[sample['prediction']==1].count)

print(sample[sample['prediction'] == 0].count)

<bound method DataFrame.count of Empty DataFrame
Columns: [customer_ID, prediction]
Index: []>
<bound method DataFrame.count of                                               customer_ID  prediction
0       00000469ba478561f23a92a868bd366de6f6527a684c9a...           0
1       00001bf2e77ff879fab36aa4fac689b9ba411dae63ae39...           0
2       0000210045da4f81e5f122c6bde5c2a617d03eef67f82c...           0
3       00003b41e58ede33b8daf61ab56d9952f17c9ad1c3976c...           0
4       00004b22eaeeeb0ec976890c1d9bfc14fd9427e98c4ee9...           0
...                                                   ...         ...
924616  ffff952c631f2c911b8a2a8ca56ea6e656309a83d2f64c...           0
924617  ffffcf5df59e5e0bba2a5ac4578a34e2b5aa64a1546cd3...           0
924618  ffffd61f098cc056dbd7d2a21380c4804bbfe60856f475...           0
924619  ffffddef1fc3643ea179c93245b68dca0f36941cd83977...           0
924620  fffffa7cf7e453e1acc6a1426475d5cb9400859f82ff61...           0

[924621 rows x 2 columns]>

In [8]:
sample.isnull().sum() # 결측값 존재하지 않음

customer_ID    0
prediction     0
dtype: int64

### train_labels : target label for each customer_ID
#### the probability of a future payment default (target = 1) : 미래 지급 불이행 가능성이 있으면 1 없으면 0

In [11]:
tl= pd.read_csv('train_labels.csv')
tl.head(5)

                                         customer_ID  target
0  0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0
1  00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0
2  00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0
3  000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0
4  00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0

In [33]:
tl.info()

# customer_ID : 고객 아이디 
# target : 0 의 값만 보유

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   customer_ID  458913 non-null  object
 1   target       458913 non-null  int64
dtypes: int64(1), object(1)
memory usage: 7.0+ MB

In [13]:
tl.isnull().sum() # 결측값 존재하지 않음

customer_ID    0
target         0
dtype: int64

In [38]:
tl['target'].value_counts() # 0 의 비율이 더 많음

0    340085
1    118828
Name: target, dtype: int64

## train_data : 

D_* = Delinquency variables

S_* = Spend variables

P_* = Payment variables

B_* = Balance variables

R_* = Risk variables

In [ ]:
train_d = pd.read_csv('train_data.csv')